<h1>My User Account</h1>

<dl>
  <h6 class="text-success-emphasis">User Name:</h6>
  <dd><%= @user["user_name"] %></dd>
  <h6 class="text-success-emphasis">Email:</h6>
  <dd><%= @user["email"] %></dd>
</dl>