<h1><%= @post["title"] %></h1>

<h2><%= @post["description"] %>, <%= @post["posted_on"] %></h2>

<p><a href="/posts/new?place_id=<%= @post["place_id"] %>">New Post</a></p>

<p><a href="/posts">Back to All Places</a></p>