<h1 class="ms-2">Places</h1>

  <div class="container mt-3">
    <div class="row">
    </div>

    <div class="row">
      <div class="col-12">
       <a href="/places/new" class="btn btn-primary">New place</a>
      </div>
  </div>

  <% for place in @places %>
      <h6 class="pt-3"><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></h6>
  <% end %>




