<h1>Places</h1>

  <div class="container mt-3">
    <div class="row">
      <div class="col text-center">
      </div>

    <div class="row">
      <div class="col-sm-9">
       <a href="/places/new" class="btn btn-success">New place</a>
      </div>

<ul>
  <% for place in @places %>
    <li>
      <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </li>
  <% end %>
</ul>



